window#osd {
    padding: 0px 10px;
    min-height: 100px;
    border-radius: 999px;
    border: none;
    background: rgba(0, 0, 0, 0.6);
}

#container {
    margin: 16px;
    background: transparent;
}

image,
label {
    color: #ffffff;
}

progressbar {
    min-height: 6px;
    background: #ffffff;
    border: none;
}

trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: rgba(0, 0, 0, 0.4);
}

progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #ffffff;
}